.defaultreviews__mainCardAlternative {
  border-radius: 20px;
  border: none;
  width: 22rem;
  margin: 5rem auto;
  background-color: #222831;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.defaultreviews__mainCard__title {
  color: #222831;
  background-color: #f1f2f3;
  width: 100%;
  text-align: center;
}

.defaultreviews__mainCard__title span {
  color: var(--brand-color);
}
.defaultreviews__mainCard__body {
  background-color: #222831;
  color: #f1f2f3;
}

.defaultreviews__mainCard__footer {
  background-color: #f1f2f3;
  color: var(--main-color-dark);
  border-radius: 20px;
  width: 80%;
  margin: 0 auto 10px auto;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

@media (max-width: 481px) {
  .defaultreviews__mainCardAlternative {
    width: 18rem;
  }
}
