.reviews__mainCard {
  border-radius: 20px;
  border: none;
  width: 22rem;
  margin: 5rem auto;
  background-color: #222831;
  box-shadow: var(--bs-card);
  -webkit-box-shadow: var(--bs-card);
  -moz-box-shadow: var(--bs-card);
}

.reviews__mainCard__title {
  color: #222831;
  background-color: #f1f2f3;
  width: 100%;
  text-align: center;
}

.reviews__mainCard__title span {
  color: var(--brand-color);
}
.reviews__mainCard__body {
  background-color: #222831;
  color: #f1f2f3;
}

.reviews__mainCard__footer {
  background-color: #f1f2f3;
  color: var(--main-color-dark);
  border-radius: 20px;
  width: 80%;
  margin: 0 auto 10px auto;
  box-shadow: var(--bs-card);
  -webkit-box-shadow: var(--bs-btn);
  -moz-box-shadow: var(--bs-btn);
}

@media (max-width: 481px) {
  .reviews__mainCard {
    width: 18rem;
  }
}
