.productDetail__container {
  margin-top: 2rem;
}

.productDetail__img {
  max-width: 50%;
}

.productDetail__tittle {
  color: var(--main-color-dark);
  text-shadow: var(--bs-card);
}

.productDetail__text {
  font-size: 1rem;
}

.productDetail__link {
  text-decoration: none;
  color: var(--main-color-dark);
}

.productDetail__link__Svg {
  color: var(--brand-color);
}
