.footer__container {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

.footer__btn__suscribe {
  background-color: var(--brand-color);
  color: var(--main-color-light);
  border-color: var(--brand-color);
}

a svg {
  color: var(--main-color-light);
  font-size: 2rem;
  padding: 5px;
}

.footer__mail__link {
  text-decoration: none;
  color: var(--brand-color);
}

.footer__nav {
  align-items: center;
  flex-direction: column;
}

.footer__newsletter__error {
  color: red;
  font-size: smaller;
  font-style: italic;
  padding-top: 10px;
}
