.card__menu {
  background-color: var(--main-color-dark);
  color: var(--text-color-light);
  border-radius: 20px;
  margin: 1.5rem;
  border-color: var(--main-color-light);
}

.card__menu p {
  text-align: left;
}

.card__menu__body {
  box-shadow: var(--bs-card);
  border-radius: 20px;
}
.card__img__menu {
  height: 200px;
  background-color: var(--main-color-light);
  border-radius: 18px 18px 0px 45px;
  border-color: var(--main-color-light);
}

.card__menu__cart {
  background-color: var(--brand-color);
  border-radius: 90px;
}

.card__menu__cart svg {
  font-size: 1.2rem;
}

.card__cart__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardMenu__favorite__link {
  position: absolute;
  text-decoration: none;
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.cardMenu__favorite__link:hover {
  background-color: unset;
  border: unset;
}

.cardMenu__favorite__link:focus {
  background-color: unset;
  border: unset;
}

.cardMenu__favorite__Svg {
  color: var(--brand-color);
  vertical-align: unset;
  font-size: 1.5rem;
}
